.case-study {
  overflow: hidden;

  font-size: $case-study-font-size;
  color: $case-study-color;

  padding: ($padding-large-vertical * 4) 0 0;
  background-color: $case-study-bg;

  h1 {
    text-align: center;
    margin-bottom: ($padding-large-vertical * 3);
    color: $case-study-h1-color;
  }

  &-tabs {
    @include make-row;

    list-style-type: none;
    padding: 0;

    &-wrapper {
      position: relative;
      background-color: $case-study-bg;
      padding-bottom: ($padding-large-vertical * 4);
      border-bottom: 6px solid $case-study-border;
      z-index: 10;
    }

    img {
      @include img-responsive;

      border: 6px solid $case-study-img-border;
      border-radius: 50%;
      margin: 0 auto;
    }

    a, a:hover, a:active, a:focus {
      color: $case-study-color;
      text-decoration: none;
    }

    h3 {
      font-size: $case-study-h3-size;

      @media (min-width: $screen-sm-min) {
        font-size: $case-study-h3-size-large;
      }
    }

    .toggle {
      @include make-xs-column(4);

      position: relative;
      text-align: center;

      &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        opacity: 0;
        @include transition(all .2s ease-in-out);

        bottom: $case-study-caret-bottom-small;
        border-top:   $case-study-caret-width-small dashed $case-study-caret-color;
        border-top:   $case-study-caret-width-small solid \9; // IE8
        border-right: $case-study-caret-width-small solid transparent;
        border-left:  $case-study-caret-width-small solid transparent;

        @media (min-width: $screen-sm-min) {
          bottom: $case-study-caret-bottom;
          border-top-width: $case-study-caret-width;
          border-left-width: $case-study-caret-width;
          border-right-width: $case-study-caret-width;
        }

        // @media (min-width: $screen-lg-min) {
        //   bottom: $case-study-caret-bottom-large;
        //   border-top-width: $case-study-caret-width-large;
        //   border-left-width: $case-study-caret-width-large;
        //   border-right-width: $case-study-caret-width-large;
        // }
      }

      &.active {
        &::after { opacity: 1; }
      }
    }
  }


  &-expanded {
    list-style-type: none;
    padding: 0;
    color: $case-study-expanded-color;

    &-wrapper {
      background: url('../images/sketch.jpg');
      background-size: cover;
      background-color: $case-study-expanded-bg;
      background-position: top;
      padding: ($padding-large-vertical * 8) 0 ($padding-large-vertical * 10);
    }

    h2 {
      color: $case-study-expanded-h2-color;
    }

    .item {
      @include make-row;
      display: none;

      &.active {
        display: block;
      }

      &-img {
        @include make-md-column(6);
        // @include make-lg-column(3);
        // @include make-lg-column-offset(1);

        height: 320px;

        @media (min-width: $screen-md-min) {
          height: 0;
        }

        img {
          position: absolute;
          border-radius: 50%;

          top: -680px;
          left: -40%;
          width: 1000px;

          @media (min-width: $screen-sm-min) {
            top: -620px;
            left: 40px;
          }

          @media (min-width: $screen-md-min) {
            top: -40px;
            left: -435px;
            width: 900px;
          }

          @media (min-width: $screen-lg-min) {
            left: -340px;
          }
        }
      }

      &-content {
        @include make-md-column(6);
        // @include make-lg-column(7);
      }
    }
  }
}
