.statistics {
  text-align: center;

  font-size: $statistics-font-size;
  color: $statistics-color;

  padding: ($padding-large-vertical * 3) 0 ($padding-large-vertical * 8);

  h1 {
    color: $statistics-color-alternate;
    margin-bottom: ($padding-large-vertical * 3);
  }

  h3 {
    margin-bottom: ($padding-large-vertical * 2);
  }
}
